<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="~/css/StyleAbout.css">
	<title> Document</title>
</head>
<body>


	<div class="intro"> </div>
	<div>
		<img src="~/img/leftphoto.jpg" class="image">

		<h1 class="title"> История развития химчистки CleanOff: от скромного бизнеса до лидера рынка</h1>
		<div class="history">
			<p>CleanOff - это российская компания, которая начала свою деятельность в 1995 году. В те времена химчистки в России были не так популярны, как сейчас. Но основатели CleanOff понимали, что потенциал этого бизнеса велик.</p>
			<p>Первое время компания работала только на местном уровне, но вскоре начала привлекать все больше клиентов. Это стало возможным благодаря высокому качеству услуг, которые предлагала CleanOff.<br> Сотрудники компании постоянно совершенствовали свои навыки и искали новые методы и технологии, чтобы делать работу еще лучше.</p>
			<p>С 2000-х годов CleanOff начала расширять свою деятельность и открывать филиалы в других городах России. Компания стала использовать новейшее оборудование и профессиональные моющие средства, чтобы обеспечивать лучшее качество услуг.</p>
			<p>Сегодня CleanOff является одной из ведущих компаний в отрасли химчистки в России. Она имеет филиалы во многих крупных городах страны и предлагает широкий спектр услуг для клиентов.<br> Сотрудники компании продолжают работать над совершенствованием своих навыков и поиску новых методов, чтобы удовлетворять все более высокие требования клиентов.</p>
			<p>CleanOff гордится своей историей развития и стремится сохранить свое место лидера в отрасли химчистки в России.</p>
		</div>
	</div>

	<div class="benefits">
		<h1 class="Headerbenefits"> Наши достоинства</h1>
		<ul>
			<li>Бережное отношение к вашей одежде</li>
			<li>Высококачественная чистка</li>
			<li>Использование экологически чистых моющих средств</li>
			<li>Профессиональные специалисты</li>
			<li>Быстрое обслуживание</li>
		</ul>
	</div>
	</div>
</body>
</html>