
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="~/css/StyleAbout.css">
	<title> Document</title>
</head>
<body>
	<div class="mt-4">
		<img src="~/img/leftphoto.jpg" class="image">
		<h1 class="title"> История развития химчистки CleanOff: от скромного бизнеса до лидера рынка</h1>
		<div class="history m-3">
			<p>CleanOff - это российская компания, которая начала свою деятельность в 1995 году. В те времена химчистки в России были не так популярны, как сейчас. Но основатели CleanOff понимали, что потенциал этого бизнеса велик.</p>
			<p>Первое время компания работала только на местном уровне, но вскоре начала привлекать все больше клиентов. Это стало возможным благодаря высокому качеству услуг, которые предлагала CleanOff.<br> Сотрудники компании постоянно совершенствовали свои навыки и искали новые методы и технологии, чтобы делать работу еще лучше.</p>
			<p>С 2000-х годов CleanOff начала расширять свою деятельность и открывать филиалы в других городах России. Компания стала использовать новейшее оборудование и профессиональные моющие средства, чтобы обеспечивать лучшее качество услуг.</p>
			<p>Сегодня CleanOff является одной из ведущих компаний в отрасли химчистки в России. Она имеет филиалы во многих крупных городах страны и предлагает широкий спектр услуг для клиентов.<br> Сотрудники компании продолжают работать над совершенствованием своих навыков и поиску новых методов, чтобы удовлетворять все более высокие требования клиентов.</p>
			<p>CleanOff гордится своей историей развития и стремится сохранить свое место лидера в отрасли химчистки в России.</p>
		</div>
	</div>

	<div class="row d-flex justify-content-center align-items-center w-100 my-md-5 ps-md-3">
		<div class="col-lg-4 text-center developers">
            <img src="~/img/nikita.jpg" class="bd-placeholder-img rounded-circle" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)" /></img>
			<h2 class="fw-normal">Никита</h2>
			<p>Веб-дизайнер</p>
			<p><a class="btn btn-secondary" href="https://github.com/Nikita00721">GitHub Никиты &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4 text-center developers">
			<img src="~/img/danya.jpg" class="bd-placeholder-img rounded-circle" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)" /></img>
			<h2 class="fw-normal">Данил</h2>
			<p>Бэкенд-специалист</p>
			<p><a class="btn btn-secondary" href="https://github.com/Hepret">GitHub Данила &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4 text-center developers">
			<img src="~/img/grisha.jpg" class="bd-placeholder-img rounded-circle" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)" /></img>
			<h2 class="fw-normal">Гриша</h2>
			<p>Фул-стек девелопер</p>
			<p><a class="btn btn-secondary" href="https://github.com/kvakerson#">GitHub Гриши &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
	</div><!-- /.row -->

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
		<div class="text-bg-secondary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
	  <div class="my-3 py-3">
		<h2 class="display-5">Наши достоинства</h2>
		<p class="lead"><li>Бережное отношение к вашей одежде</li>
			<li>Высококачественная чистка</li>
			<li>Использование экологически чистых моющих средств</li>
			<li>Профессиональные специалисты</li>
			<li>Быстрое обслуживание</li></p>
	  </div>
			<svg xmlns="http://www.w3.org/2000/svg" width="300" height="300" fill="currentColor" class="bi bi-balloon mx-auto" viewBox="0 0 16 16">
			 <path fill-rule="evenodd" d="M8 9.984C10.403 9.506 12 7.48 12 5a4 4 0 0 0-8 0c0 2.48 1.597 4.506 4 4.984ZM13 5c0 2.837-1.789 5.227-4.52 5.901l.244.487a.25.25 0 1 1-.448.224l-.008-.017c.008.11.02.202.037.29.054.27.161.488.419 1.003.288.578.235 1.15.076 1.629-.157.469-.422.867-.588 1.115l-.004.007a.25.25 0 1 1-.416-.278c.168-.252.4-.6.533-1.003.133-.396.163-.824-.049-1.246l-.013-.028c-.24-.48-.38-.758-.448-1.102a3.177 3.177 0 0 1-.052-.45l-.04.08a.25.25 0 1 1-.447-.224l.244-.487C4.789 10.227 3 7.837 3 5a5 5 0 0 1 10 0Zm-6.938-.495a2.003 2.003 0 0 1 1.443-1.443C7.773 2.994 8 2.776 8 2.5c0-.276-.226-.504-.498-.459a3.003 3.003 0 0 0-2.46 2.461c-.046.272.182.498.458.498s.494-.227.562-.495Z"/>
			</svg>
	</div>
	<div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
	  <div class="my-3 p-3">
		<h2 class="display-5">Наши недостатки</h2>
		<p class="lead">Гриша...</p>
	  </div>
			<svg xmlns="http://www.w3.org/2000/svg" width="300" height="300" fill="currentColor" class="bi bi-emoji-smile-upside-down" viewBox="0 0 16 16">
				<path d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zm0-1a8 8 0 1 1 0 16A8 8 0 0 1 8 0z" />
				<path d="M4.285 6.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 4.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 3.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 9.5C7 8.672 6.552 8 6 8s-1 .672-1 1.5.448 1.5 1 1.5 1-.672 1-1.5zm4 0c0-.828-.448-1.5-1-1.5s-1 .672-1 1.5.448 1.5 1 1.5 1-.672 1-1.5z" />
			</svg>
	</div>
  </div>
</body>
</html>