<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="~/css/StyleContact.css">
	<title> Document</title>
</head>

<div class="intro"> </div>


<div class="headerBestWorkers">
	Наши лучшие сотрудники
	<br>
	<br>
	<br>
</div>

<table class="worker_info">
	<tr align="left">
	<tr align="right">
		<td> <left><img src="~/img/worker1.png" /></left> </td>
		<td valign="top">
			<div class="name1" align="left">Ефремова Софья Александровна </div>
			<div class="describe1" align="left"> Директор </div>
			<br> <div class="resume1" align="left"> 15 лет управления малым и средним бизнесом.  Разрабатывала стратегии<br> развития предприятий, обеспечивала финансово-хозяйственную деятельность,<br> повышал операционную эффективность бизнеса. Проводила тренинги<br> и переговоры на управленческом уровне. Работаю в режиме<br> многозадачности, умею принимать решения и расставлять приоритеты. <br> <br> <div class="standing">Стаж 7 лет </div> </div>
		</td>
	</tr>
</table>
<br>
<br>
<br>
<table class="worker_info">
	<tr align="left">
	<tr align="right">
		<td> <left><img src="~/img/worker2.png" /></left> </td>
		<td valign="top">
			<div class="name1" align="left">Гришин Эрик Алексеевич </div>
			<div class="describe1" align="left"> Менеджер </div>
			<br> <div class="resume1" align="left"> Эксперт по работе с полевой командой и ведению сложных переговоров,<br> имею опыт заключения договоров с крупными торговыми сетями.<br><br> Умею формировать команду и выстраивать эффективную мотивацию персонала.<br> Всегда ориентируюсь на результат, быстро обучаюсь, легко усваиваю<br> новую информацию и ответственно подхожу к выполнению задач. <br>  <div class="standing">Стаж 5 лет </div> </div>
		</td>
	</tr>
</table>
<br>
<br>
<br>
<table class="worker_info">
	<tr align="left">
	<tr align="right">
		<td> <left><img src="~/img/worker3.png" /></left> </td>
		<td valign="top">
			<div class="name1" align="left">Симонов Денис Алексеевич </div>
			<div class="describe1" align="left"> Бухгалтер </div>
			<br> <div class="resume1" align="left"> Имею опыт ведения бухгалтерского и налогового учета,<br> работал с различными системами налогообложения (УСНО, ТСНО, ЕНВД),<br> взаимодействовал с контролирующими и проверяющими органами.<br><br> Успешно осуществлял полное ведение бухгалтерии организаций.<br> Владею программами 1С, BISQUIT, SIRE, АиТСофт, DIASOFT, RS-Bank.<br> Отличаюсь внимательным и ответственным подходом к делу. <br> <br> <div class="standing">Стаж 11 лет </div> </div>
		</td>
	</tr>
</table>
<br>
<br>
<br>
<table class="worker_info">
	<tr align="left">
	<tr align="right">
		<td> <left><img src="~/img/worker4.png" /></left> </td>
		<td valign="top">
			<div class="name1" align="left">Иванов Давид Егорович </div>
			<div class="describe1" align="left"> Работник </div>
			<br> <div class="resume1" align="left"> Решительно берусь за любые проекты и всегда довожу дела до конца,<br> <br> отличаюсь исполнительностью и устойчив к стрессовой работе.<br> Умею работать в команде, решать конфликты и находить компромиссы.<br> Обладаю творческим мышлением и быстро генерирую идеи. <br> <br> <div class="standing">Стаж 7 лет </div> </div>
		</td>
	</tr>
</table>



<body>

</body>
