<!DOCTYPE html>
<html lang="en">
  <head>
       <meta charset="UTF-8" />
       <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Контакты и адрес</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css" integrity="sha512-rWlFNz+7VccCGp+uH7VlJ+LHYd7V5a5TFvddJGB5Z1U6fNz9XuxC6OyG2Q/jwShdPsdcdSTNmw+LfkAd6bTxBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="~/css/stylecontact.css" rel="stylesheet" />
  </head>
<body>
    <main>
        <div class="container1">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="address">Адрес</h2>
                    <p>г. Владимир, проспект Строителей, д7-Г, Общежитие №6, комната 912</p>
                    <h2 class="contacts">Контакты</h2>
                    <p>Телефон: +7 903 264 82 31</p>
                    <p>E-mail: nkremnev3003@gmail.com</p>
                    <h2 class="directions">Как добраться</h2>
                    <p>Направо, налево, направо, вниз, налево</p>
                    <p>На входе в общежитие попросить охранника позвонить в комнату 912</p>
                    <a class="btn btn-primary" href="https://www.google.com/maps?q=Строителей+проспект,+7Г,+Владимир,+Россия" role="button">Посмотреть нас на картах</a>
                </div>
                <div class="col-md-6">
                    <div class="image">
                        <img src="~/img/map.png" alt="Map" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.min.js" integrity="sha512-gN9XZGtwugL1J2rj/SrBvO2tR+wIzT91TtCfTmE9XpZCEmzLtxziJEDLgg3vq3WJGl8L+MLcxc1CGaKvIKXkRQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>