<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/styleindex.css" rel="stylesheet" />
	<title>Document</title>
</head>
<body>
	<header>
		<nav>
			<ul class="nav_list">
				<li><a href="#" class="contacts">Contact</a></li>
			</ul>
		</nav>
	</header>

	<section class="intro">
		<div class="intro_title_inner">
			<h1 class="intro_title">О нас</h1>
			<p class="intro_descr">
				Добросовестность и трудолюбие<br>
				Спец. оборудование и химия<br>
				Опыт и профессионализм
			</p>
		</div>
	</section>

	<section class="services">
		<h1>Наши услуги</h1>
		<div class="textcols">
			<div class="textcols-item">
				<h2>Клининг</h2>
				<p class="description_column">Мы осуществляем комплексное клининговое обслуживание разнообразных объектов</p>
			</div>
			<div class="textcols-item">
				<h2>Химчистка</h2>
				<p class="description_column">Любые ткани и поверхности со временем требуют обновления. Чтобы вернуть внешний вид вашей мягкой мебели предлагаем наши услуги химчистки. Мы работаем только с высококачественными чистящими средствами, безопасными для цвета и текстуры тканей.</p>
			</div>
			<div class="textcols-item">
				<h2>Мытье окон, лоджий, витрин</h2>
				<p class="description_column">Удаляем загрязнения не только на стекле,но и на раме,откосах и подоконнике. Также удаляем транспортировочные пленки,наклейки,скотч,строительный раствор. Используем профессиональные средства и парогенераторы.</p>
			</div>
		</div>
	</section>
</body>
</html>