<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="~/css/StyleIndex.css">
	<title> Document</title>
</head>
<body>


	<div class="intro">	</div>
	<table>
		<td>
			<img src="~/img/worker.jpg" class="img_worker" style="margin-left:50px;"> </img>
		</td>
		<td>
			<h1 class="about_as">О нас</h1>
			<div class="description_work">
				—Добросовестность и трудолюбие<br>
				— Спец. оборудование и химия<br>
				— Опыт и профессионализм<br>
				<br>
			</div>

		</td>
	</table>
	</div>

	<div>
		<h1>Наши услуги</h1>
	</div>

	<div class="textcols">
		<div class="textcols-item">
			<h2>Клининг</h2>
			<div class="description_column">
				<br> Мы осуществляем комплексное клининговое <br>обслуживание разнообразных объектов
			</div>
		</div>
		<div class="textcols-item">
			<h2>Химчистка</h2>
			<div class="description_column">
				<br>Любые ткани и поверхности со временем<br> требуют обновления. Чтобы вернуть внешний<br> вид вашей мягкой мебели предлагаем наши<br> услуги химчистки. Мы работаем только с<br> высококачественными чистящими средствами, <br> безопасными для цвета и текстуры тканей.
			</div>
		</div>
		<div class="textcols-item">
			<h2>Мытье окон, лоджий, витрин</h2>
			<div class="description_column">
				<br>Удаляем загрязнения не только на стекле,но и<br> на раме,откосах и подоконнике. Так же удаляем<br> транспортировочные<br> пленки,наклейки,скотч,строительный раствор.<br> Используем профессиональные средства и<br> парогенераторы.
			</div>

		</div>
	</div>



</body>
</html>