<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="~/css/StyleIndex.css">
	<title> Document</title>
</head>
<body>


	<div class="intro">	</div>
	<table>
		<td>
			<img src="~/img/worker.jpg" class="img_worker" style="margin-left:50px;"> </img>
		</td>
		<td>
			<h1 class="about_as">О нас</h1>
			<div class="description_work">
				—Добросовестность и трудолюбие<br>
				— Спец. оборудование и химия<br>
				— Опыт и профессионализм<br>
				<br>
			</div>

		</td>
	</table>
	</div>

	<div>
		<h1>Наши услуги</h1>
	</div>

	<div class="textcols">
		<div class="textcols-item">
			<h2>Клининг</h2>
			<div class="description_column">
				 Мы осуществляем комплексное клининговое обслуживание разнообразных объектов
			</div>
		</div>
		<div class="textcols-item">
			<h2>Химчистка</h2>
			<div class="description_column">
				Любые ткани и поверхности со временем требуют обновления. Чтобы вернуть внешний вид вашей мягкой мебели предлагаем наши услуги химчистки. Мы работаем только с высококачественными чистящими средствами, безопасными для цвета и текстуры тканей.
			</div>
		</div>
		<div class="textcols-item">
			<h2>Мытье окон, лоджий, витрин</h2>
			<div class="description_column">
				Удаляем загрязнения не только на стекле,но и на раме,откосах и подоконнике. Так же удаляем транспортировочные пленки,наклейки,скотч,строительный раствор. Используем профессиональные средства и парогенераторы.
			</div>

		</div>
	</div>



</body>
</html>