<!DOCTYPE html>
<link href="../css/login.css" rel="stylesheet" />
<script src="../js/loginScript.js"></script>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Вход в личный кабинет</title>
</head>

<body class="text-center">
<main class="form-signin w-100 m-auto">
    <form id="login">
        <div>
            <h1 class="h3 mb-3 fw-normal">Вы уже смешарик?</h1>

            <div class="form-floating">
                <input name="email" type="email" class="form-control mb-3 border-primary loginEmailInput" id="floatingInputLogin" placeholder="name@example.com">
                <label for="floatingInputLogin">Email</label>
            </div>
            <div class="form-floating">
                <input name="password" type="password" class="form-control border-primary loginPasswordInput" id="floatingPasswordLogin" placeholder="Password">
                <label for="floatingPasswordLogin">Пароль</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Запомнить меня
                </label>
            </div>

            
            <button  class="w-100 btn btn-lg btn-primary submitLoginBtn" @*type="submit"*@>
                Войти
            </button>

            @* TODO вот пример как делать fetch надо будет это сделать цивильно *@
            <script>
                let loginBtn = document.getElementsByClassName("submitLoginBtn")[0];
                loginBtn.addEventListener("click", async function (event) {
                    event.preventDefault();
                    console.log("Начал отправлять запрос")
                    let email = document.getElementsByClassName("loginEmailInput")[0].value;
                    let password = document.getElementsByClassName("loginPasswordInput")[0].value;
             
                    const data = { Email: email, Password: password };
                    const options = {
                      method: "POST",
                      body: JSON.stringify(data),
                      headers: {
                        "Content-Type": "application/json"
                      }
                    };
                    
                    try {
                        const response = await fetch("/api/login", options);
                        let message = await response.text();
                        if (response.ok) {
                            const setCookieHeader = response.headers.get("Set-Cookie");
                            document.cookie = setCookieHeader;
                            window.location.href = "/profile";
                        }
                        console.log(data);
                      } catch (error) {
                      }
                    });
                
            </script>

            <button onclick="switchForms()" class="w-100 btn btn-lg btn-outline-primary mt-3 bg-white new-user" type="button">Нет, я новенький</button>

                <a class="w-100 btn btn-link mt-5" href="../Admin/Login" @*type="submit"*@>
                    Я вообще тут администратор (удалить)
                </a>

                <a class="w-100 btn btn-link mt-5" href="../Employee/Login" @*type="submit"*@>
                    Я вообще тут работник (удалить)
                </a>
        </div>
    </form>

    <form id="registration" style="display: none;">
        <div>
            <h1 class="h3 mb-3 fw-normal">Стань смешариком прямо сейчас</h1>

            <div class="form-floating">
                <input type="text" name="name" aria-label="Имя" class="form-control border-primary  w-100 rounded-1 mt-1 nameRegisterInput">
                <label for="floatingInput">Имя</label>
            </div>
            <div class="form-floating">
                <input type="text" name="surname" aria-label="Фамилия" class="form-control border-primary  w-100 rounded-1 mt-1 surnameRegisterInput">
                <label for="floatingInput">Фамилия</label>
            </div>
                <div class="form-floating">
                    <input type="text" name="Phone" aria-label="Телефон" class="form-control border-primary  w-100 rounded-1 mt-1 phoneRegisterInput">
                    <label for="floatingInput">Телефон</label>
                </div>
            <div class="form-floating">
                <input type="email" name="email" class="form-control mb-3 border-primary mt-3 emailRegisterInput" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating">
                <input type="password" name="password" class="form-control border-primary passwordRegisterInput" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Пароль</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary mt-3 registerBtn" type="button">Зарегестрироваться</button>
            <button onclick="switchFormsback()" type="button" class="btn btn-outline-secondary mt-3">Вспомнил, я всё таки смешарик</button>
        </div>
    </form>
    
            <script>
                let registerBtn = document.getElementsByClassName("registerBtn")[0];
                registerBtn.addEventListener("click", async function (event) {
                    event.preventDefault();
                    console.log("Начал отправлять запрос")
                    let email = document.getElementsByClassName("emailRegisterInput")[0].value;
                    let password = document.getElementsByClassName("passwordRegisterInput")[0].value;
                    let name = document.getElementsByClassName("nameRegisterInput")[0].value;
                    let surname = document.getElementsByClassName("surnameRegisterInput")[0].value;
                    let phone = document.getElementsByClassName("phoneRegisterInput")[0].value;
                    const data = {Name: name, Surname: surname, Email: email, Password: password, Phone: phone };
                    const options = {
                      method: "POST",
                      body: JSON.stringify(data),
                      headers: {
                        "Content-Type": "application/json"
                      }
                    };
                    
                    try {
                        const response = await fetch("/api/register", options);
                        let message = await response.text();
                        if (response.ok) {
                            const setCookieHeader = response.headers.get("Set-Cookie");
                            document.cookie = setCookieHeader;
                        }
                        alert(message);
                        console.log(data);
                      } catch (error) {
                      }
                    });
            </script>
</main>
</body>

</html>