@model List<CleanOff.Domain.Order>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Nikita Kremnev">
    <title>Личный кабинет</title>
    <link href="~/css/styleuser.css" rel="stylesheet" />
    <script src="~/js/userscript.js"></script>
    @* <link href="checkout.css" rel="stylesheet"> *@
</head>

<body>
@*    <div class="btn-group-vertical pt-5" role="group">
        <button onclick ="switchF1()" type="button" class="btn btn-outline-primary btn-width rounded-0"> Что происходит?</button>
        <button onclick ="switchF2()" type="button" class="btn btn-outline-primary rounded-0">Мои заказы</button>
        <button onclick= "switchF3()" type="button" class="btn btn-outline-primary btn-width rounded-0">Создать заказ</button>
        <button onclick= "switchF4()" type="button" class="btn btn-outline-primary btn-width rounded-0">Мой профиль</button>
    </div>*@
    <div style="margin: 0 auto; display: flex; justify-content: center;">
        <div class="btn-group mt-1" role="group" aria-label="Группа кнопок-переключателей">
            <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off" checked>
            <label class="btn btn-outline-secondary rounded-0" for="vbtn-radio1" onclick="switchF1()">Что происходит</label>
            <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio2" autocomplete="off">
            <label class="btn btn-outline-secondary" for="vbtn-radio2" onclick="switchF2()">Мои заказы</label>
            <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio3" autocomplete="off">
            <label class="btn btn-outline-secondary" for="vbtn-radio3" onclick="switchF3()">Создать заказ</label>
            <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio4" autocomplete="off">
            <label class="btn btn-outline-secondary rounded-0" for="vbtn-radio4" onclick="switchF4()">Мой профиль</label>
        </div>
    </div>

  <form id="what"> @*Что происходит?*@
  <div class="container-xxl col-xxl-6 px-4 py-5 d-flex">
    <div class="row flex-lg-row-reverse align-items-center g-1 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
      <img src="~/img/1.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">В целом, у нас всё хорошо</h1>
        <p class="lead">Готовы принимать заказы и помыть там, постирать, даже не знаю. Если вы совсем отчаялись, то как-бы велком, но чёт хз хз хз</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        </div>
      </div>
    </div>
  </div>
  </form>

    <form id="orders" style="display:none">  @*Мои заказы*@
      2
  </form>

<form id="make" class="needs-validation" novalidate style="display:none"> @*Создать заказ*@
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2 class="text-center mb-4">Создать заказ</h2>
                <div class="form-group">
                    <label for="address">Адрес</label>
                    <input type="text" class="form-control address-input" id="address"  placeholder="Введите адрес">
                </div>
                <div class="form-group">
                    <label for="country">Страна</label>
                    <select class="form-control" id="country">
                        <option>Россия</option>
                        <option>Украина</option>
                        <option>Беларусь</option>
                        <option>Казахстан</option>
                        <option>Другая</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="region">Область</label>
                    <input type="text" class="form-control" id="region" placeholder="Введите область">
                </div>
                <div class="form-group">
                    <label for="additional-info">Описание заказа</label>
                    <textarea class="form-control description-text-area" id="additional-info" rows="3" placeholder="Введите дополнительную информацию"></textarea>
                </div>
                <div class="form-group">
                    <label for="convenient-datetime">Удобная дата и время</label>
                    <input type="datetime-local" class="form-control" id="convenient-datetime">
                </div>
                <hr class="my-4">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Хочу, чтобы вы приехали
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Я сам приеду
                    </label>
                </div>
                <hr class="my-4">
                <button class="w-100 btn btn-primary btn-lg createOrderBtn">Создать заказ</button>
                <script>
                        const createOrderBtn = document.getElementsByClassName('createOrderBtn')[0];
                        
                        createOrderBtn.addEventListener('click', (event) => {
                            event.preventDefault();
                            event.stopPropagation();
                            const address = document.getElementsByClassName('address-input')[0].value;
                            const description = document.getElementsByClassName('description-text-area')[0].value;
                            const convenientDateTime = new Date(document.getElementById('convenient-datetime').value).toISOString();
                            const flexRadioDefault1 = document.getElementById('flexRadioDefault1');
                            const needDelivery = flexRadioDefault1.checked;
                            
                            
                            console.log(typeof(convenientDateTime))
                           
                            const orderData = {
                                        RequestDateString: convenientDateTime,
                                        Description: description,
                                        NeedDelivery: needDelivery
                                    };
                                    
                            console.log(orderData);
                            
                            fetch('/profile/create_order', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(orderData)
                            })
                            .then(response => response.text())
                            .then(data => {
                                // Handle the response from the server
                                console.log(data);
                            })
                            .catch(error => {
                                // Handle any errors
                                console.error(error);
                            });
                           
                        });
                    </script>
                    </div>
                </div> 
            </div>


            <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

            <script src="checkout.js"></script>

  </form>
  <form id="profile" style="display:none"> @*Мой профиль*@
        <button type="button" class="butexit logoutBtn">
              ВЫЙТИ
          </button>
      <script>
          const logoutBtn = document.getElementsByClassName('logoutBtn')[0];
          logoutBtn.addEventListener('click', (event) => {
                event.preventDefault();
                event.stopPropagation();
                logoutRedirect();  
          })
          function logoutRedirect() {
              var logoutLink = "/profile/logout";
              window.location.href = logoutLink;
          }
      
      </script>
    @* ПОСМОТРИ СКРИПТ ПОЖАЛУЙСТА*@
    @* <script> *@
    @*     const logoutButton = document.querySelector('.btn-danger'); *@
    @*     logoutButton.addEventListener('click', () => { *@
    @*         fetch('/Account/Logout', { *@
    @*             method: 'POST', *@
    @*             headers: { *@
    @*                 'Content-Type': 'application/x-www-form-urlencoded' *@
    @*             }, *@
    @*             body: '' *@
    @*         }) *@
    @*             .then(response => { *@
    @*                 if (response.redirected) { *@
    @*                     window.location.href = response.url; *@
    @*                 } *@
    @*             }) *@
    @*             .catch(error => console.error(error)); *@
    @*     }); *@
    @* </script> *@
</form>

@if (Model.Count != 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Описание заказа</th>
                <th>Статус</th>
                <th>Дата создания</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.Description</td>
                    <td>@order.OrderState</td>
                    <td>@order.RequestDate</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h6>Пока заказов нет</h6>
}
   
</body>
</html>