* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Стили для навбара */
.containernav {
    background-color: #f2f2f2; /* Цвет фона */
    padding: 10px; /* Внутренний отступ */
    display: flex; /* Выравниваем по центру по горизонтали */
    justify-content: center;
}

.menu__list {
    list-style-type: none; /* Убираем маркеры списка */
    display: flex; /* Отображаем элементы горизонтально */
}

.menu__group {
    margin-right: 10px; /* Отступ между пунктами меню */
}

.menu__link {
    text-decoration: none; /* Убираем подчеркивание */
    color: #333; /* Цвет текста */
    font-size: 20px; /* Размер текста */
    transition: color 0.3s, transform 0.3s; /* Плавное изменение цвета и трансформации при наведении */
}

    .menu__link:hover {
        color: #888; /* Цвет текста при наведении */
        transform: scale(1.1); /* Увеличение размера при наведении */
    }

.text-underlined {
    border-bottom: 1px solid #333; /* Подчеркиваем текст линией */
}
