/* Общие стили для страницы */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    overflow-y: hidden;
}

.container1 {
    width: 100%;
    max-width: 1200px;
    margin: 0 5%;
    padding: 20px;
}

/* Стили для карты */
.map {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

/* Стили для описания проезда */
.directions {
    margin-bottom: 20px;
}

    .directions h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .directions p {
        margin-bottom: 10px;
    }

/* Стили для контактов */
.contacts {
    margin-bottom: 20px;
}

    .contacts h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .contacts p {
        margin-bottom: 10px;
    }

/* Стили для адреса */
.address {
    margin-bottom: 20px;
}

    .address h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .address p {
        margin-bottom: 10px;
    }

.image {
    width: 200%;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
