@model System.Collections.Generic.List<CleanOff.Domain.Order>

@{
    Layout = "_EmployeePanelLayout";
}

@if (Model.Count != 0)
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Описание заказа</th>
            <th>Статус</th>
            <th>Дата создания</th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Description</td>
                <td>@order.OrderState</td>
                <td>@order.RequestDate</td>
                <td><a href="@Url.Action("Order", values: new { orderId = order.OrderId })">Перейти к заказу</a></td>
            </tr>
        }
        </tbody>
    </table>

}
else
{
    <h2>Пока заказов нету</h2>
}
