<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

<header>
    @await Html.PartialAsync("Navbar")
</header>

<main>
    @RenderBody()
</main>

@await Html.PartialAsync("Footer")

</body>
</html>