<!doctype html>
<link href="~/css/stylefoot.css" rel="stylesheet" />
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sticky-footer/">
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="sticky-footer.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">©SKS company   |   Если сайт плохо работает, то не грустите, так и задумано :3</span>
        </div>
    </footer>



</body>
</html>