
<link href="~/css/stylenav.css" rel="stylesheet" />
<script src="~/js/navscript.js"></script>

<div class="page">
  <nav class="page__menu menu">
    <ul class="menu__list r-list">
      <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Главная</a></li>
      <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">О нас</a></li>
      <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Контакты</a></li>
       <li class="menu__group"><a href="@Url.Action("Login", "Home")" class="menu__link r-link text-underlined">Личный кабинет</a></li>
    </ul>
  </nav>
</div>