@{
    Layout = "_AdminPanelLayout";
    ViewData["Title"] = "Панель администратора";
}

<div>
      <h1>Register New Employee</h1>
          <form action="/admin/createEmployee" method="POST">
              <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="Name" required><br><br>
            <label for="surname">Surname:</label>
            <input type="text" id="surname" name="Surname" required><br><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="Email" required><br><br>
            <label for="phone">Phone:</label>
            <input type="tel" id="phone" name="Phone" required><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="Password" required><br><br>
            <button type="submit">Register</button>
            </div>
          </form>
</div>
